body {
  @apply font-sans;
  font-family: var(--text_font);
  font-size: var(--body_fontsize);
  font-weight: var(--body_fontweight);
  color: var(--text_color);
}

a {
  font-weight: 700;
  color: var(--link_color);
  &:hover {
    filter: brightness(var(--link_color));
  }
}

//Colors
$colors: (
  'transparent',
  'light',
  'primary',
  'secondary',
  'tertiary',
  'black',
  'gray',
  'white',
  'black',
  'cyan',
  'teal'
  'purple',
  'yellow',
  'blue',
  'green',
  'orange'
);

@each $col in $colors {
  .bg-#{$col} {
    background-color: var(--bs-#{$col}) !important;
  }

  .text-#{$col} {
    color: var(--bs-#{$col}) !important;
  }

  .hover-#{$col} {
    &:hover {
      color: var(--bs-#{$col}) !important;
    }
  }

  .border-#{$col} {
    border-color: var(--bs-#{$col}) !important;
  }

  //Gutenberg Colors
<<<<<<< HEAD
  .has-#{$col}-color {
    color: var(--bs-#{$col}) !important;
  }

  .has-#{$col}-background-color {
    background-color: var(--bs-#{$col}) !important;
  }
=======
  // .has-#{$col}-color {
  //   color: var(--bs-#{$col}) !important;
  // }

  // .has-#{$col}-background-color {
  //   background-color: var(--bs-#{$col}) !important;
  // }
>>>>>>> 5e8773b3e2ddc5215d9fb28359e3f5b8e64574b1
}

.text-body-color {
  color: var(--text_color) !important;
}

.heading-font {
  font-family: var(--heading_font);
}
.text-font {
  font-family: var(--text_font);
}

//Fonts Styles

h1,
.h1,
h2:not(.components-panel__body-title, .block-editor-block-card__title, .ui-sortable-handle, .media-attachments-filter-heading),
.h2,
h3:not(.edit-post-post-link__preview-label),
.h3,
h4,
.h4 {
  font-family: var(--heading_font);
}

h1,
.h1 {
  font-size: clamp(
    var(--h1_min_size),
    var(--clamp_pref_width),
    var(--h1_max_size)
  );
}

h2,
.h2 {
  font-size: clamp(
    var(--h2_min_size),
    var(--clamp_pref_width),
    var(--h2_max_size)
  );
}

h3,
.h3 {
  font-size: clamp(
    var(--h3_min_size),
    var(--clamp_pref_width),
    var(--h3_max_size)
  );
}

h4,
.h4 {
  font-size: clamp(
    var(--h4_min_size),
    var(--clamp_pref_width),
    var(--h4_max_size)
  );
}

h5,
.h5 {
  font-size: clamp(
    var(--h4_min_size),
    var(--clamp_pref_width),
    var(--h4_max_size)
  );
}

h6,
.h6 {
  font-size: clamp(
    var(--h4_min_size),
    var(--clamp_pref_width),
    var(--h4_max_size)
  );
}

.btn {
  border-radius: var(--btn_rounded);
  font-family: var(--btn_font);
  transition: all 0.3s ease-in-out;
  padding: var(--btn_md_padding_y_size) var(--btn_md_padding_x_size);
  font-size: var(--btn_md_font_size);

  //Styles
  &.btn-primary {
    background: var(--bs-primary);
    border: var(--bs-primary);
  }
  &.btn-secondary {
    background: var(--secondary_color);
    border: var(--secondary_color);
  }
  &.btn-outline-primary {
    border-color: var(--bs-primary);
    color: var(--bs-primary);
    &:hover {
      color: $white;
      background-color: var(--bs-primary);
    }
  }

  //Sizes and settings
  &.btn-sm {
    padding: var(--btn_sm_padding_y_size) var(--btn_sm_padding_x_size);
    font-size: var(--btn_sm_font_size);
  }
  &.btn-md {
    padding: var(--btn_md_padding_y_size) var(--btn_md_padding_x_size);
    font-size: var(--btn_md_font_size);
  }
  &.btn-lg {
    padding: var(--btn_lg_padding_y_size) var(--btn_lg_padding_x_size);
    font-size: var(--btn_lg_font_size);
  }

  //Hover styles
  &:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, var(--btn_hovershadow));
    filter: brightness(var(--btn_brightness));
    transform: scale(var(--btn_hovergrow));
  }
}

.border-radius {
  border-radius: var(--btn_rounded);
}

.rfs-1 {
  @include font-size(1rem);
}
.rfs-2 {
  @include font-size(2rem);
}
.rfs-3 {
  @include font-size(3rem);
}
.rfs-4 {
  @include font-size(4rem);
}
.rfs-5 {
  @include font-size(5rem);
}
.rfs-6 {
  @include font-size(6rem);
}
.rfs-7 {
  @include font-size(7rem);
}
.rfs-8 {
  @include font-size(8rem);
}
.rfs-9 {
  @include font-size(9rem);
}
.rfs-10 {
  @include font-size(10rem);
}
.rfs-12 {
  @include font-size(12rem);
}

.has-small-font-size{
  font-size: var(--small_font_size);
}
.has-regular-font-size{
  font-size: var(--regular_font_size);
}
.has-large-font-size{
  font-size: var(--large_font_size);
}
.has-huge-font-size{
  font-size: var(--huge_font_size);
}