/**
 * Variables
 */

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: ();
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900,
  ),
  $grays
);

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$colors: ();
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800,
  ),
  $colors
);

$primary: $blue !default;
$secondary: $gray-600 !default;
$tertiary: $gray-400 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$theme-colors: ();
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'tertiary': $tertiary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
    'black': $black,
  ),
  $theme-colors
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

// stylelint-disable value-keyword-case
$font-family-sans-serif: acumin-pro, sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-family-condensed: acumin-pro-condensed;
$font-family-extra-condensed: acumin-pro-extra-condensed;
// stylelint-enable value-keyword-case

$enable-negative-margins: true;

$enable-responsive-font-sizes: true;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.5;
$font-size-sm: $font-size-base * 0.875;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-font-family: acumin-pro-extra-condensed, sans-serif;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: null;

$display1-weight: 300;
$display2-weight: 300;
$display3-weight: 300;
$display4-weight: 300;
$display-line-height: $headings-line-height;

// MK removed - /resources/assets/styles/mixins/font_sizes.scss
// $font-sizes:(('body'): ('sm': 1.4rem, 'md': $font-size-base),
//   ('h1, .h1'): ('sm': 7rem, 'md': 7em, 'lg': 12.0rem), // edited
//   ('h2, .h2'): ('sm': 6rem, 'md': 6rem, 'lg': 9rem), // edited
//   ('h3, .h3'): ('sm': 2.6rem, 'md': 3.6rem, 'lg': 7rem), // edited
//   ('h4, .h4'): ('sm': 1.9rem, 'md': 2.0rem, 'lg': 6rem), // edited
//   ('h5, .h5'): ('sm': 3.6rem, 'lg': 4rem), // edited
//   ('h6, .h6'): ('sm': 2rem), // edited
//   ('.display-1'): ('sm': 3rem, 'lg': 5rem), // edited
//   ('.display-2'): ('sm': 3rem, 'lg': 4rem), // edited
//   ('.display-3'): ('sm': 1.6rem, 'lg': 3rem), // edited
//   ('.display-4'): ('sm': 1.5rem, 'lg': 2rem), // edited
//   ('.display-5'): ('sm': 1.1rem, 'md': 1.8rem), // edited
// );

$display-font-sizes: (
  1: 4rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem,
) !default;

// Links
//
// Style anchor elements.

$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 5,
    ),
    7: (
      $spacer * 7,
    ),
    8: (
      $spacer * 9,
    ),
    9: (
      $spacer * 11,
    ),
    10: (
      $spacer * 13,
    ),
  ),
  $spacers
);

$headings-margin-bottom: $spacer !default;


//For media mixins
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1300px,
);
