.card {
  // Simple card
  &.simple-card {
    overflow: hidden;
    .overlay-layer {
      background: rgba(0, 0, 0, 0.5);
    }
    .simple-card__content {
      min-height: clamp(250px,calc(80vh),800px);
      padding: 20px;
      color: white;
    }
  }

  &.image_with_text_card{
    .card-taxonomy{
      top: 15px;
      left: 15px;
    }
    .img-cover{
      overflow: hidden;
      .card-img{
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
    }
    a{

    }
  }
}
