footer {
  ul {
    padding: 10px 0;
    text-align: left;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li {
      a {
        color: inherit;
      }
    }
  }
  p {
    a {
      color: inherit;
    }
  }
}
