header {
  ul:not(.navbar-nav) {
    padding: 10px 0;
    text-align: right;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    li {
      margin-left: 10px;
      a {
        color: inherit;
        font-size: 14px;
      }
    }
  }
}


#navigationHeader{
  &.expand-sm{
    @include media-breakpoint-down(sm){
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 9;
      top: 0;
      left: 100%;
      transition: all 0.1s ease-in-out;
      &.open{
        transform: translateX(max(-100vw,-420px));
      }
      &.mobile-color-bg-primary{
        background: var(--primary_color);
      }
      &.mobile-color-bg-secondary{
        background: var(--secondary_color);
      }
      &.mobile-color-bg-terciary{
        background: var(--terciary_color);
      }
      ul.component-mainnav{
        padding: 110px 20px 20px;
      }
    }
  }

  &.expand-md{
    @include media-breakpoint-down(md){
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 9;
      top: 0;
      left: 100%;
      transition: all 0.1s ease-in-out;
      &.open{
        transform: translateX(max(-100vw,-420px));
      }
      &.mobile-color-bg-primary{
        background: var(--primary_color);
      }
      &.mobile-color-bg-secondary{
        background: var(--secondary_color);
      }
      &.mobile-color-bg-terciary{
        background: var(--terciary_color);
      }
      ul.component-mainnav{
        padding: 110px 20px 20px;
      }
    }
  }

  &.expand-lg{
    @include media-breakpoint-down(lg){
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 9;
      top: 0;
      left: 100%;
      transition: all 0.1s ease-in-out;
      &.open{
        transform: translateX(max(-100vw,-420px));
      }
      &.mobile-color-bg-primary{
        background: var(--primary_color);
      }
      &.mobile-color-bg-secondary{
        background: var(--secondary_color);
      }
      &.mobile-color-bg-terciary{
        background: var(--terciary_color);
      }
      ul.component-mainnav{
        padding: 110px 20px 20px;
      }
    }
  }

  &.expand-xl{
    @include media-breakpoint-down(xl){
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 9;
      top: 0;
      left: 100%;
      transition: all 0.1s ease-in-out;
      &.open{
        transform: translateX(max(-100vw,-420px));
      }
      &.mobile-color-bg-primary{
        background: var(--primary_color);
      }
      &.mobile-color-bg-secondary{
        background: var(--secondary_color);
      }
      &.mobile-color-bg-terciary{
        background: var(--terciary_color);
      }
      ul.component-mainnav{
        padding: 110px 20px 20px;
      }
    }
  }

  &.expand-xxl{
    @include media-breakpoint-down(xxl){
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 9;
      top: 0;
      left: 100%;
      transition: all 0.1s ease-in-out;
      &.open{
        transform: translateX(max(-100vw,-420px));
      }
      &.mobile-color-bg-primary{
        background: var(--primary_color);
      }
      &.mobile-color-bg-secondary{
        background: var(--secondary_color);
      }
      &.mobile-color-bg-terciary{
        background: var(--terciary_color);
      }
      ul.component-mainnav{
        padding: 110px 20px 20px;
      }
    }
  }

  &.expand-never{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 100%;
    transition: all 0.1s ease-in-out;
    &.open{
      transform: translateX(max(-100vw,-420px));
    }
    &.mobile-color-bg-primary{
      background: var(--primary_color);
    }
    &.mobile-color-bg-secondary{
      background: var(--secondary_color);
    }
    &.mobile-color-bg-terciary{
      background: var(--terciary_color);
    }
    ul.component-mainnav{
      padding: 110px 20px 20px;
    }
  }

  &.open{
    .btn{
      margin-left: 20px;
    }
  }
}
