.overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
}

//Position Guttenberg
.aligncenter{
  justify-content: center;
}
.alignleft{
  justify-content: start;
}
.alignright{
  justify-content: end;
}
.align-text-left{
  text-align: left;
}
.align-text-center{
  text-align: center;
}
.align-text-right{
  text-align: right;
}
.is-position-bottom{
  align-items: flex-end;
}
.is-position-center{
  align-items: center;
}

.has-text-align-right {
  text-align: right;
}

.has-text-align-left{
  text-align-last: left;
}

.has-text-align-center {
  text-align: center;
}

@for $i from 1 through 20 {
  .zi#{$i} {
    z-index: $i;
  }
}

.zi1000 {
  z-index: 1000;
}

.object-fit-cover {
  object-fit: cover;
}

.aspect-ratio-1-1 {
  aspect-ratio: 1 / 1;
}

//Shadows
.inset-shadow {
  box-shadow: inset 0 180px 145px 0px rgb(0 0 0 / 60%);
}

//Background images
.has-bgimage {
  background-repeat: none;
  background-size: cover;
}

.fx-grayscale {
  filter: grayscale(100%);
}

@for $i from 0 through 9 {
  .hv-#{$i}0 {
    height: #{($i * 10)}vh;
  }
}
.hv-100 {
  height: 100vh;
  min-height: 500px;
}

.w-100 {
  height: 100%;
  object-fit: cover;
}

.blendmode-normal {
  mix-blend-mode: normal;
}
.blendmode-multiply {
  mix-blend-mode: multiply;
}
.blendmode-screen {
  mix-blend-mode: screen;
}
.blendmode-overlay {
  mix-blend-mode: overlay;
}
.blendmode-darken {
  mix-blend-mode: darken;
}
.blendmode-lighten {
  mix-blend-mode: lighten;
}
.blendmode-color-dodge {
  mix-blend-mode: color-dodge;
}
.blendmode-color-burn {
  mix-blend-mode: color-burn;
}
.blendmode-hard-light {
  mix-blend-mode: hard-light;
}
.blendmode-soft-light {
  mix-blend-mode: soft-light;
}
.blendmode-difference {
  mix-blend-mode: difference;
}
.blendmode-exclusion {
  mix-blend-mode: exclusion;
}
.blendmode-hue {
  mix-blend-mode: hue;
}
.blendmode-saturation {
  mix-blend-mode: saturation;
}
.blendmode-colo {
  mix-blend-mode: color;
}

.animation-hover {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  img {
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    @extend .shadow-lg;
    img {
      transform: scale(1.06);
    }
  }
}

.rounded-0{
  border-radius: 0;
}

@for $i from 1 through 10 {
  .rounded-#{$i} {
    border-radius: #{$i * 2}px;
  }
}