/**
 * Editor
 */



.editor-styles-wrapper > * {
  @import 'config/variables';

  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';
  @import '~bootstrap/scss/mixins';
  @import '~bootstrap/scss/utilities';
  @import '~bootstrap/scss/grid';

  @import 'gutenberg';
  @import 'common/global';
  @import 'common/mixins';

  //@import 'blocks';
  @import 'components/cards';

  font-family: $font-family-base;

  .b-column-wrap {
    border: 2px solid #dfa400;
    position: relative;
    &:before {
      content: 'Row';
      color: #dfa400;
      font-size: 11px;
      position: absolute;
      top: -20px;
      left: 0;
    }
  }

  //fix for hero images overlay
  .b-hero__image {
    height: 100%;
  }

  .b-header {
    background: #cccccc;
  }

  .fixed-top {
    position: relative;
  }
  .b-header {
    .navbar {
      &.nav-fixed-top {
        position: relative;
        &.bg-transparent {
          background: rgb(197, 197, 197);
        }
      }
      .navbar-nav {
        list-style: none;
      }
    }
  }

  .b-section {
    border: 2px dashed #12aa89;
    position: relative;
    &:before {
      content: 'Section';
      color: #12aa89;
      font-size: 11px;
      position: absolute;
      top: -20px;
      left: 0;
    }
  }

  .b-row {
    border: 2px dashed #5600df;
    position: relative;
    .wp-block-columns {
      flex-wrap: nowrap;
    }
    &:before {
      content: 'Row';
      color: #5600df;
      font-size: 11px;
      position: absolute;
      top: -20px;
      left: 0;
    }
  }

  .b-query{
    .card{
      padding: 0;
      .card-body{
        padding: 10px;
        p{
          margin: 10px 0;
        }
      }
      &.simple-card{
        padding: 0;
        min-height: 280px;
        .card-title{
          color: white;
        }
        img{
          height: 100%;
        }
        p{
          margin: 10px 0;
        }
      }
    }
  }

  .block-section {
    position: relative;
    min-height: 200px;
  
    .block-section__overlayer {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .block-section__content {
      position: relative;
      z-index: 2;
      padding: 20px;
    }
  }
}
