/** Config */
@import 'config/variables';
@import 'config/external';
@import 'config/themevars';

/** Common */
@import 'common/global';
@import 'common/mixins';

@import 'common/utilities';

/** ACF Gutenberg Block */
@import 'blocks';

/**
 * Main column width
 * https://developer.wordpress.org/block-editor/developers/themes/theme-support/#changing-the-width-of-the-editor
 */

.wp-block {
  max-width: 100%;
}

/**
 * Customize width of editor sidebar
 */

@media (min-width: 1080px) {
  .edit-post-layout.is-sidebar-opened .edit-post-sidebar,
  .edit-post-layout.is-sidebar-opened
    .edit-post-plugin-sidebar__sidebar-layout {
    width: 400px;
  }
}

@media (min-width: 1080px) {
  .edit-post-layout.is-sidebar-opened .edit-post-layout__content {
    margin-right: 400px;
  }
}

html.interface-interface-skeleton__html-container {
  font-size: 62.5%;
}

/**
 * GB Block
 */
#wpbody {
  .wp-block {
    max-width: 100%;
    font-family: $font-family-sans-serif;
    // Hero height fix (hacky, needs a better solution long-term - LG - 09.22.2020)

    @include media-breakpoint-up(xl) {
      max-width: 1200px;
    }
  }

  .edit-post-layout.is-sidebar-opened .edit-post-layout__content {
    @include media-breakpoint-up(xl) {
      margin-right: 400px;
    }
  }

  .edit-post-layout.is-sidebar-opened .edit-post-sidebar {
    @include media-breakpoint-up(xl) {
      width: 400px;
    }
  }
}
