.b-header {
  .navbar {
    transition: all 0.3s ease;
    .component-mainnav.navbar-nav {
      .menu-item {
        .nav-link {
          font-weight: 700;
          @include media-breakpoint-down(md) {
            padding-top: 1.3rem;
            padding-bottom: 1.3rem;
          }
        }
      }
      &.text-white {
        .menu-item .nav-link {
          @extend .text-white;
        }
      }
      &.hover-secondary {
        .menu-item .nav-link:hover {
          @extend .text-secondary;
        }
      }
    }
    &.nav-fixed-top{
        position: absolute;
        z-index: 10;
        width: 100%;
        top: inherit;
        &.has-fx-scrolled{
            position: fixed;
            top: -200px;
            left: 0;
            &.show{
                top: 0;
            }
        }
    }
  }
}
