.b-hero {
  &.container-narrow {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  &.container-align-center {
    .b-hero__content {
      text-align: center;
    }
  }
  &.container-align-center-narrow {
    .b-hero__content {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.container-align-left {
    .b-hero__content {
      max-width: 650px;
    }
  }
  &.container-align-right {
    .b-hero__content {
      max-width: 650px;
      margin-left: auto;
    }
  }
  .b-hero__imagelayer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.inset-shadow {
    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 180px 145px 0px rgb(0 0 0 / 60%);
    }
  }
}
