.b-icon-with-text {
  &__icon {
    img {
      display: block;
      max-width: 38px;
    }
  }
  a {
    .b-icon-with-text__icon {
      transition: all 0.3s ease;
    }
    &:hover {
      .b-icon-with-text__icon {
        transform: scale(1.1);
        filter: brightness(1.1);
      }
    }
  }
}
