$widths: (
  '12': 100%,
  '11': 91.6666666667%,
  '10': 83.3333333333%,
  '9': 75%,
  '8': 66.6666666667%,
  '7': 58.3333333333%,
  '6': 50%,
  '5': 41.6666666667%,
  '4': 33.33%,
  '3': 25%,
  '2': 16.6666666667%,
  '1': 8.3333333333%,
);

.b-row {
  .wp-block-columns {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
  }
  .wp-block-column {
    box-sizing: border-box;
    flex: 0 1 auto;
    &:not(:nth-child(1)) {
      margin-left: 0;
    }
  }

  &.inner-column-px-4{
    .wp-block-columns{
      @extend .mx-n4;
    }
    .wp-block-column{
      @extend .px-4;
    }
  }

  &.inner-column-px-6{
    .wp-block-columns{
      @extend .mx-n6;
    }
    .wp-block-column{
      @extend .px-6;
    }
  }

  &.inner-column-px-10{
    .wp-block-columns{
      @extend .mx-n10;
    }
    .wp-block-column{
      @extend .px-10;
    }
  }

  @for $i from 1 through 12 {
    &.data-col1-#{$i} {
      .wp-block-column:nth-child(1) {
        width: map-get($widths, #{$i});
      }
    }
    &.data-col2-#{$i} {
      .wp-block-column:nth-child(2) {
        width: map-get($widths, #{$i});
      }
    }
    &.data-col3-#{$i} {
      .wp-block-column:nth-child(3) {
        width: map-get($widths, #{$i});
      }
    }
    &.data-col4-#{$i} {
      .wp-block-column:nth-child(4) {
        width: map-get($widths, #{$i});
      }
    }
  }

  @include media-breakpoint-up(md) {
    @for $i from 1 through 12 {
      &.data-col1-md-#{$i} {
        .wp-block-column:nth-child(1) {
          width: map-get($widths, #{$i});
        }
      }
      &.data-col2-md-#{$i} {
        .wp-block-column:nth-child(2) {
          width: map-get($widths, #{$i});
        }
      }
      &.data-col3-md-#{$i} {
        .wp-block-column:nth-child(3) {
          width: map-get($widths, #{$i});
        }
      }
      &.data-col4-md-#{$i} {
        .wp-block-column:nth-child(4) {
          width: map-get($widths, #{$i});
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    @for $i from 1 through 12 {
      &.data-col1-lg-#{$i} {
        .wp-block-column:nth-child(1) {
          width: map-get($widths, #{$i});
        }
      }
      &.data-col2-lg-#{$i} {
        .wp-block-column:nth-child(2) {
          width: map-get($widths, #{$i});
        }
      }
      &.data-col3-lg-#{$i} {
        .wp-block-column:nth-child(3) {
          width: map-get($widths, #{$i});
        }
      }
      &.data-col4-lg-#{$i} {
        .wp-block-column:nth-child(4) {
          width: map-get($widths, #{$i});
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    @for $i from 1 through 12 {
      &.data-col1-xl-#{$i} {
        .wp-block-column:nth-child(1) {
          width: map-get($widths, #{$i});
        }
      }
      &.data-col2-xl-#{$i} {
        .wp-block-column:nth-child(2) {
          width: map-get($widths, #{$i});
        }
      }
      &.data-col3-xl-#{$i} {
        .wp-block-column:nth-child(3) {
          width: map-get($widths, #{$i});
        }
      }
      &.data-col4-xl-#{$i} {
        .wp-block-column:nth-child(4) {
          width: map-get($widths, #{$i});
        }
      }
    }
  }

  //Alignment
  &.columns-align-items-start{
    .wp-block-columns{
    align-items: start;
    }
  }
  &.columns-align-items-center{
    .wp-block-columns{
      align-items: center;
    }
  }
  &.columns-align-items-end{
    .wp-block-columns{
      align-items: end;
    }
  }
  &.columns-align-items-strech{
    .wp-block-columns{
      align-items: stretch;
    }
  }
}
