.b-social-icons {
  ul {
    list-style: none;
    li.li-icon {
      a.link-icon {
        width: 40px;
        height: 40px;
        transition: all 0.3s ease;
        i {
          display: block;
          font-size: 20px;
        }
        &.circle-border {
          border-radius: 50%;
        }
        &:hover {
          filter: brightness(2.5);
        }
      }
    }
  }
}
